In [1]:
import pandas as pd

In [3]:
import mysql.connector
cnx = mysql.connector.connect(user='root', password='lingesh',
                              host='localhost', database='sys')

print(cnx)

<mysql.connector.connection.MySQLConnection object at 0x11A11BB0>

In [4]:
cursor = cnx.cursor()

In [5]:
print(cursor)

MySQLCursor: (Nothing executed yet)

In [13]:
add_employee = ("INSERT INTO employees "
               "(name, dept, salary) "
               "VALUES (%s, %s, %s)")

data_employee = ('Lingesh', 'DS', '1000')

In [14]:
cursor.execute(add_employee, data_employee)

ProgrammingError: 1146 (42S02): Table 'sys.employees' doesn't exist